@import '@wordpress/base-styles/_colors';
@import '@wordpress/base-styles/_variables';

$avatarSize: 32px;

.iso-editor-collab-avatars {
	display: flex;
	align-items: center;
	margin: 0 8px;
}

.iso-editor-collab-avatars__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $avatarSize;
	height: $avatarSize;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;

	& + & {
		margin-left: -4px;
		box-shadow: 0 0 0 2px $white;
	}
}

.iso-editor-collab-avatars__popover {
	// Mostly mimic styles for the core Tooltip component.
	// (We could've simply used core Tooltip if the delay was shorter
	// and it accepted multi-line text.)
	.components-popover__content {
		transform: translateY( 8px );
		background: $gray-900;
		border-radius: $radius-block-ui;
		border-width: 0;
		color: $white;
		white-space: nowrap;
		line-height: 1.4;
		font-size: 12px;
		box-shadow: none;

		> div {
			padding: $grid-unit-05 $grid-unit-10;
		}
	}
}

.iso-editor-collab-avatars__image {
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.iso-editor-collab-avatars__name-initial {
	font-size: 14px;
	line-height: 1;
	color: $white;
	text-transform: uppercase;
	cursor: default;
}

.iso-editor-collab-avatars__overflow {
	margin-left: 4px;
	height: 100%;
	cursor: default;
}

.iso-editor-collab-avatars__overflow-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.iso-editor-collab-avatars__overflow-list-item {
	margin: 0;
	line-height: 1;

	& + & {
		margin-top: 6px;
	}
}

.iso-editor-collab-avatars__overflow-more {
	margin: 6px 0 0;
	line-height: 1;
}
