mark.asblocks-caret {
	position: relative;
	background: #eee;
}

mark.asblocks-caret.is-collapsed {
	background: none;
}

mark.asblocks-caret::before {
	left: -1px;
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	font-size: 1em;
	width: 2px;
	background: #2e3d48;
}

mark.asblocks-caret.is-shifted::before {
	left: auto;
	right: -1px;
}

mark.asblocks-caret::after {
	position: absolute;
	top: -8px;
	left: -4px;
	width: 8px;
	height: 8px;
	content: "";
	background-color: #2e3d48;
}

mark.asblocks-caret.is-shifted::after {
	left: auto;
	right: -4px;
}
