mark.iso-editor-collab-caret {
	position: relative;
	background: #eee;
	color: currentColor;
}

mark.iso-editor-collab-caret.is-collapsed {
	background: none;
}

mark.iso-editor-collab-caret::before {
	left: -1px;
	top: 0;
	bottom: 0;
	position: absolute;
	content: '';
	font-size: 1em;
	width: 2px;
	background: var( --iso-editor-collab-caret-color );
}

mark.iso-editor-collab-caret.is-shifted::before {
	left: auto;
	right: -1px;
}

mark.iso-editor-collab-caret::after {
	position: absolute;
	top: -14px;
	right: -4px;
	overflow: hidden;
	min-width: 8px;
	max-width: 140px;
	text-overflow: ellipsis;
	min-height: 8px;
	padding: 2px 4px 3px;
	content: attr( title ); // identity
	color: white;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	white-space: nowrap;
	background: var( --iso-editor-collab-caret-color );

	// Ensure that bold/italic isn't inherited from the editor selection
	font-style: normal;
	font-weight: normal;
}
