@import '@wordpress/components/build-style/style.css';
@import '@wordpress/block-editor/build-style/style.css';
@import '@wordpress/block-library/build-style/style.css';
@import '@wordpress/block-library/build-style/editor.css';
@import '@wordpress/block-library/build-style/theme.css';
@import '@wordpress/format-library/build-style/style.css';

.iso-editor {
	--wp-admin-theme-color: #0085ba;
	--wp-admin-theme-color-darker-10: #0073a1;
	--wp-admin-theme-color-darker-20: #006187;
	--wp-admin-border-width-focus: 2px;
}
